@model List<TrackHerWebApp.Models.SymptomViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>How have you been feeling today?</p>
</div>

<form asp-action="SubmitSymptoms" method="post">

    @foreach (var symptomViewModel in Model)
    {
        <h3>@symptomViewModel.Name</h3>
        <ul>
            @foreach (var value in symptomViewModel.Values)
            {
                <input type="checkbox" name="SelectedSymptomsId" value="@value.Id" />
                <strong>@value.Description</strong>
            }
        </ul>
    }
    <button type="submit" class="btn btn-primary">I'm done!</button>
</form>