@model List<TrackHer.SymptomLevel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>How have you been feeling today?</p>
</div>

<form asp-action="SubmitSymptoms" asp-controller="Symptoms" method="post">
    @foreach (var group in Model.GroupBy(s => s.SymptomGroup))
    {
        <h2>@group.Key</h2> 
        <div>
        @foreach (var symptom in group)
        {
            <input type="checkbox" name="selectedSymptomsId" value="@symptom.Id" />
            <label>@symptom.Description </label><br />
        }
        </div>
    }   
    <button type="submit">Submit</button>
</form>
