@model TrackHerWebApp.Models.SubmissionResultViewModel

@{
    ViewData["Title"] = "Received";
}

<h1>Received!</h1>

<p>@Model.ConfirmationMessage @Model.Colour</p>

<a asp-action="Index">Go Back</a>
