TrackHer/bin
TrackHer/obj
.vs/TrackHer/DesignTimeBuild
.vs/TrackHer/FileContentIndex
.vs/TrackHer/v17
.vs
TrackHerWebApp/obj
TrackHerWebApp/obj/Debug
TrackHerWebApp/obj/Debug/net8.0
TrackHerWebApp/bin
TrackHerWebApp/obj
TrackHerWebApp/bin
TrackHerWebApp/obj
